.fixed .column-dwqa-answer {
    width: 7em;
    text-align: center;
}

#dwqa-answers.postbox .inside {
    margin: 0;
    padding: 0;
}

#dwqa-answers .dwqa-answer-list-table {
    border: 0 none;
}

#dwqa-answers .widefat td {
    border-bottom: none;
}
.manage-column.column-title {
    width: 35em;
}

.manage-column.column-comment {
    width: 4em;
}

.column-comment .post-com-count {
    display: inline-block;
}

.dwqa-notification-settings {
/ / max-width: 800 px;
}

.dwqa-question_page_dwqa-settings .dwqa-permission-settings td,
.dwqa-question_page_dwqa-settings .dwqa-permission-settings th {
    text-align: center;
}

.dwqa-question_page_dwqa-settings .dwqa-permission-settings tr.group td:first-child {
    text-align: left;
}

.dwqa-question_page_dwqa-settings .dwqa-permission-settings tr.available td {
    background-color: #fff;
}

.dwqa-settings-head {
    position: relative;
}

.heade-decs {
    display: inline-block;
    margin-right: 30%;
    margin-bottom: 30px;
}

.heade-decs h2 {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 0;
}

.head-thumb {
    position: absolute;
    right: 0;
    padding: 20px 20px 40px;
    top: 28px;
    background: #fff;
    box-shadow: 0px 0px 1px #666;
}

.head-thumb ul {
    position: absolute;
    bottom: 4px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.head-thumb ul li {
    margin-bottom: 0;
    font-weight: 600;
}

.heade-decs {
    display: inline-block;
    margin-right: 30%;
    margin-top: 20px;
}

.heade-decs p {
    font-size: 16px;
    color: #555;
    font-style: italic;
}

@media (max-width: 480px) {
    .heade-decs {
        margin-right: 45%;
        text-align: justify;
    }

    .heade-decs h2,
    .heade-decs p {
        font-size: 100%;
    }
}

form.dwqa-settings-body h2,
form.dwqa-settings-body h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
    text-indent: 21px;
}

form.dwqa-settings-body h2:after,
form.dwqa-settings-body h3:after {
    content: "";
    position: absolute;
    background: #999;
    height: 24px;
    width: 4px;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto 0;
}

form.dwqa-settings-body select,
form.dwqa-settings-body input[type=text] {
    width: 350px;
    height: 35px;
    margin-bottom: 6px;
}

ul.subsubsub {
    border-bottom: 1px solid #e1e1e1;
}

.dwqa-settings-body input[type=checkbox] {
    margin-right: 10px;
}

.dwqa-settings-body span.description {
    color: #747474;
    text-transform: capitalize;
}

.dwqa-settings-body .form-table {
    background: #fff;
    box-shadow: 0 0 1px #999;
}

.dwqa-settings-body .form-table th {
    padding-left: 20px;
    width: 300px;
}

.dwqa-settings-body input[type="button"],
.dwqa-settings-body .button {
    box-shadow: none;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 0;
}

.nav-tab-wrapper {
    padding-top: 0 !important;
    background: #f5f5f5;
    border-bottom: 2px solid #666 !important;
}

.nav-tab-wrapper .nav-tab {
    margin-left: 0;
    padding: 10px 20px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.nav-tab-wrapper .nav-tab-active:after {
    position: absolute;
    content: "";
    width: 30px;
    right: 0;
    bottom: -3px;
    margin: 0 auto;
    height: 4px;
    left: 0;
    background: #999;
}

.nav-tab-active, .nav-tab-active:focus,
.nav-tab-active:focus:active,
.nav-tab-active:hover {
    background: #666 !important;
    color: #fff;
}

/
/
/*Notification Settings
// *------------------------------------------------------------------------------------------------*/
/
/
.dwqa-mail-templates {
/ / position: relative;
/ /
}

/
/
.dwqa-mail-templates .progress-bar {
/ / position: absolute;
/ / top: 1 px;
/ / left: 0;
/ / width: 100 %;
/ / background: transparent;
/ /
}

/
/
.dwqa-mail-templates .progress-bar .progress-bar-inner {
/ / height: 5 px;
/ / width: 0 %;
/ / background: #f7682c;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs {
/ / position: absolute;
/ / display: block;
/ / left: 100 %;
/ / top: 0;
/ / margin: 0;
/ / width: 277 px;
/ / border-top: 1 px solid #ccc;
/ / border-right: 1 px solid #ccc;
/ / border-bottom: 1 px solid #ccc;
/ / margin-left: - 1 px;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li {
/ / cursor: pointer;
/ / background: #f1f1f1;
/ / height: 30 px;
/ / line-height: 30 px;
/ / padding-left: 10 px;
/ / margin-bottom: 0 px;
/ / border-left: 1 px solid #ccc;
/ / border-top: 1 px solid #f1f1f1;
/ / border-bottom: 1 px solid #f1f1f1;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li:first-child {
/ / margin-top: - 1 px;
/ / border-top: 1 px solid #ccc;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li:last-child {
/ / margin-bottom: - 1 px;
/ / border-bottom: 1 px solid #ccc;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li.active,

/
/
.dwqa-notification-settings .nav-tabs li:hover {
/ / background: #fff;
/ / color: #000;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li.active {
/ / border-left: 1 px solid #fff;
/ / border-top: 1 px solid #ccc;
/ / border-bottom: 1 px solid #ccc;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li.active a,

/
/
.dwqa-notification-settings .nav-tabs li:hover a {
/ / color: #000;
/ /
}

/
/
.dwqa-notification-settings .nav-tabs li a {
/ / text-decoration: none;
/ /
}

/
/
.dwqa-notification-settings .tab-content {
/ / background-color: #fff;
/ / padding: 10 px 20 px;
/ / border-top: 1 px solid #ccc;
/ /
}

/
/
.dwqa-notification-settings .tab-content .tab-pane {
/ / display: none;
/ /
}

/
/
.dwqa-notification-settings .tab-content .tab-pane.active {
/ / display: block;
/ /
}
